body {
    margin: 0;
    color: white;
}

.controls {
    margin-top: 50px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.display {
    background: url('https://wallpapers.com/images/hd/stadium-background-o2whihnbi92d1f4k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    width: 300px;
    height: 300px;
}

.match-card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.7);
    height: 640px;
    width: 960px;
}

#play, #reset {
    background-color: blueviolet;
    width: 220px;
    color: white;
    border: none;
    font-size: 25px;
    border-radius: 5px;
}

#play:hover, #reset:hover {
    background-color: violet;
}

#play:disabled {
    background-color: grey;
}

#res {
    text-align: center;
    margin-top: 35px;
    color: white;
}

.runs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
}

.CSK-runs, .RCB-runs {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#CSK-img {
    width: 260px;
    height: 260px;
    margin-left: 60px;
}

#RCB-img {
    width: 260px;
    height: 260px;
    margin-left: -20px;
}

#score {
    display: flex;
    flex-direction: row;
}

.title {
    align-self: center;
}

.teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 60px;
}